/* form */
form { margin:0; padding:0;}
fieldset {border:none;}
img {border:0; vertical-align:middle;} 
address,em {font-style:normal;}
caption {display:none;}
select {padding:0 0 0 4px; margin-left:5px;}
select option {padding:4px 0;}


/* input */
.input_trans{height:20px;padding:1px 0 1px 2px; line-height:1.4; margin-left:8px;border-style:none;background-color:transparent;}

input,textarea {outline-style:none; cursor:text;}
input[type='text'],input[type='file'],input[type='password'],input[type='email'],input[type='tel'] {margin-left:5px;vertical-align:middle;}
input[type='text'],input[type='file'],input[type='password'],input[type='email'],input[type='tel'] {height:20px;background-color:#ffffff;border:#cdcdcd 1px solid; padding:1px 0 1px 2px; line-height:1.4; }
input[type='text']:focus,input[type='file']:focus,input[type='password']:focus,input[type='email']:focus,input[type='tel']:focus,textarea:focus {height:20px;background-color:#ffffff;border:#666666 1px solid; padding:1px 0 1px 2px; line-height:1.4;}

textarea { height:auto; background:#f9fbfb; border:#cdcdcd 1px solid;padding:3px 0 3px 2px; line-height:1.6; resize: none;}
textarea:focus {height:auto; background:#f9fbfb; border:#cdcdcd 1px solid;padding:3px 0 3px 2px; line-height:1.6;}
textarea, pre {overflow:auto;}


/* button */
input[type='button'], input[type='submit'] {line-height:1.2;text-align:center; cursor:pointer; outline:0 !important;}

input.but_navy { height:24px; background-color:#323a45;border:#323a45 1px solid ;color:#ffffff; font-size:12px; font-weight:bold; padding:2px 10px;vertical-align:middle;overflow:visible;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;}
input.but_navy:hover{background-color:#2d5d83;border:#323a45 1px solid;}

input.but_gray { height:24px; background-color:#8696a2;border:#8696a2 1px solid ;color:#ffffff; font-size:12px; font-weight:bold; padding:2px 10px;vertical-align:middle;overflow:visible;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;}
input.but_gray:hover{background-color:#666666;border:#8696a2 1px solid;}

input.but_grayL { height:24px; background-color:#b4b4b4;border:#b4b4b4 1px solid ;color:#ffffff; font-size:12px; font-weight:bold; padding:2px 10px;vertical-align:middle;overflow:visible;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;}
input.but_grayL:hover{background-color:#999999;border:#b4b4b4 1px solid;}

/* File : Table View */
#btn_file {display: inline-block;overflow: hidden;height: 24px;background-color: #8696a2;border: #8696a2 1px solid;color: #ffffff;font-size: 12px;font-weight: bold;padding: 2px 10px;vertical-align: middle;-webkit-border-radius: 4px;-moz-border-radius: 4px;border-radius: 4px;margin-left: 0px;position: relative;top: 0;right: 0;}
#egovComFileUploader {margin-left: 0px;cursor: pointer;position: absolute;top: 0;right: 0;opacity: 0;}

/* table */
table {border-collapse:collapse; width:100%;}
table, td, th {border:none; font-size: 13px;}

.boardEmpty {width:100%;table-layout:fixed;} 
.boardEmpty th {text-align:left;}
.boardEmpty td  {height:28px;padding:0 0 8px 4px;vertical-align: middle; line-height:1.2;}

.boardEmptyR {width:100%;table-layout:fixed;} 
.boardEmptyR th {text-align:right; padding-right:16px;}
.boardEmptyR td  { height:auto; min-height:28px;padding:8px 0 8px 8px;vertical-align: middle; line-height:1.2;}

.boardEmptyN {width:100%;} 
.boardEmptyN th {text-align:right; padding:0 !important; margin:0 !important;}
.boardEmptyN td  { height:auto; padding:0 !important; margin:0 !important; vertical-align: middle;}


.labelboard_type_height {width: 100%; table-layout:fixed;}
.labelboard_type_height th {padding: 5px; border: 1px solid #dcdbd5; border-top: 2px solid #90949a; border-bottom: 1px solid #90949a; background: #e8eef1; font-size: 12px; text-align: left; overflow: hidden; white-space:nowrap; text-overflow:ellipsis;}
.labelboard_type_height th img {opacity: 0.5;}
.labelboard_type_height th:first-child, .labelboard_type_height th:nth-child(3) {border-left: none; background: #e8eef1; padding-right: 5px;}
.labelboard_type_height th:last-child {border-right: none;}
.labelboard_type_height th span {cursor: pointer;}
.labelboard_type_height td {padding: 5px; border: 1px solid #dcdbd5; font-size: 12px; overflow: hidden; white-space:nowrap; text-overflow:ellipsis;}
.labelboard_type_height td a {font-size: 12px;}
.labelboard_type_height td:first-child {border-left: none;}
.labelboard_type_height td:last-child {border-right: none;}


.labelboard_width_borderNone {width: 100%; table-layout:fixed;}
.labelboard_width_borderNone th {padding: 5px; text-align: right; vertical-align: top; padding-top: 6px; padding-left: 0;}
.labelboard_width_borderNone td {padding: 5px;}

.labelboard_width_borderNone .labelboard_type_height {width: 100%; table-layout:fixed;}
.labelboard_width_borderNone .labelboard_type_height th {padding: 5px; border: 1px solid #dcdbd5; border-top: 2px solid #90949a; border-bottom: 1px solid #90949a; background: #e8eef1; font-size: 12px; text-align: left; overflow: hidden; white-space:nowrap; text-overflow:ellipsis;}
.labelboard_width_borderNone .labelboard_type_height th img {opacity: 0.5;}
.labelboard_width_borderNone .labelboard_type_height th:first-child, .labelboard_type_height th:nth-child(3) {border-left: none; background: #e8eef1; padding-right: 5px;}
.labelboard_width_borderNone .labelboard_type_height th:last-child {border-right: none;}
.labelboard_width_borderNone .labelboard_type_height th span {cursor: pointer;}


.boardList{width:100%; table-layout:fixed;} 
.boardList th {height:32px;background:url(../../../../images/egovframework/com/uss/cmm/bg_th_ny.png) repeat-x ;border-right:#dcdbd5 1px solid ;padding:4px 0 3px 10px;overflow:hidden;white-space:nowrap;text-overflow:ellipsis; text-align:left !important;}
.boardList th a,
.boardList th a:hover{text-decoration:none;}
.boardList th:last-child{border-right:none;}
.boardList .tr_one {background:#ffffff;}
.boardList .tr_two {background:#f3f3f3;}
/* 20160530 추가   */
.boardList .select {background:#deedf9;color:#294a66; font-size:12px; font-weight:bold;}
.boardList .s {color:#777777;height:15px; font-size:11px;border-right:#ffffff 1px solid; border-bottom:#ffffff 1px solid;padding:5px 5px 2px 15px;overflow:hidden;white-space:nowrap;text-overflow:ellipsis}
.boardList .s a{color:#777777;}
.boardList td {height:18px;border-right:#dcdbd5 1px solid; border-bottom:#dcdbd5 1px solid;padding:5px 5px 2px 10px;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;}
.boardList td a{text-decoration:none;}
.boardList td a:hover{text-decoration:none;color:#1a80d5;}
.boardList td:last-child{border-right:none;}

.boardList_sc{width:100%; table-layout:fixed;} 
.boardList_sc th {height:32px;background:url(../../../../images/egovframework/com/uss/cmm/bg_th_ny.png) repeat-x ; font-size:12px; padding:4px 0 3px 8px;overflow:hidden;white-space:nowrap;text-overflow:ellipsis; text-align:left !important;}
.boardList_sc th a,
.boardList_sc th a:hover{text-decoration:none;}
.boardList_sc .tr_one {background:#ffffff;}
.boardList_sc .tr_two {background:#f3f3f3;}
.boardList_sc td {height:18px;border-bottom:#dcdbd5 1px solid;padding:5px 0 2px 10px;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;}
.boardList_sc tr:hover {background:#ebf2f5;}

/* 20160530 추가   */
.boardList_my{width:100%; table-layout:fixed; margin-top:8px;} 
.boardList_my th {height:32px;background:url(../../../../images/egovframework/com/uss/cmm/bg_th_my.png) repeat-x  ; font-size:12px; padding:0 0 0 8px;overflow:hidden;white-space:nowrap;text-overflow:ellipsis; text-align:left !important;}
.boardList_my td {height:18px;border-bottom:#dcdbd5 1px solid;padding:5px 0 2px 10px;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;}
.boardList_my td.ttl{border-left: none; background:#f8f8f8;}
.boardList_my td.man{background:url(../../../../images/egovframework/com/uss/cmm/main_left_man.png) no-repeat ; text-align: left !important; padding:4px 0 3px 32px;}
.boardList_my td:last-child {border-right: none; text-align: right; padding-right:10px;}

.board_type_height {width: 100%; table-layout:fixed;}
.board_type_height th {padding: 5px; border: 1px solid #dcdbd5; border-top: 2px solid #90949a; border-bottom: 1px solid #90949a; background: #e8eef1; font-size: 12px; text-align: left; overflow: hidden; white-space:nowrap; text-overflow:ellipsis;}
.board_type_height th img {opacity: 0.5;}
.board_type_height th:first-child, .board_type_height th:nth-child(3) {border-left: none; background: #e8eef1; padding-right: 5px;}
.board_type_height th:last-child {border-right: none;}
.board_type_height th span {cursor: pointer;}
.board_type_height td {padding: 5px; border: 1px solid #dcdbd5; background-color: #fff; font-size: 12px; overflow: hidden; white-space:nowrap; text-overflow:ellipsis;}
.board_type_height td a {font-size: 12px;}
.board_type_height td:first-child {border-left: none;}
.board_type_height td:last-child {border-right: none;}
/* .board_type_height tr:nth-child(2n) td {background-color: #f3f3f3;} */

/* 20160530 추가   */
.board_type_01 {width: 100%; table-layout:fixed;}
.board_type_01 th {padding: 5px; border: 1px solid #dcdbd5; border-top: 2px solid #90949a; border-bottom: 1px solid #90949a; background: #e8eef1; font-size: 12px; text-align: left; overflow: hidden; white-space:nowrap; text-overflow:ellipsis;}
.board_type_01 th img {opacity: 0.5;}
.board_type_01 th:last-child {border-right: none;}
.board_type_01 th span {cursor: pointer;}
.board_type_01 td {padding: 2px 2px 2px 4px; border: 1px solid #dcdbd5; background-color: #fff; font-size: 12px;min-height:24px; overflow: hidden; white-space:nowrap; text-overflow:ellipsis;}
.board_type_01 td.tt {padding: 2px 4px 2px 2px; border: 1px solid #dcdbd5; background-color: #fff; font-size: 12px; overflow: hidden; white-space:nowrap; text-overflow:ellipsis; text-align:right; vertical-align:text-top;border-left: none;}
.board_type_01 td.no1 {padding: 5px; border: 0px solid #dcdbd5; border-top: 0px solid #90949a; border-bottom: 0px solid #90949a; background: #ffffff; font-size: 12px; text-align: left; ;}
.board_type_01 td.no2 {padding: 5px; border: 0px solid #dcdbd5; border-top: 0px solid #90949a; border-bottom: 1px solid #90949a; background: #ffffff; font-size: 12px; text-align: left; ;}
.board_type_01 td.con {padding: 2px 2px 2px 4px; border: 1px solid #dcdbd5; background-color: #fff; font-size: 12px; overflow: hidden; white-space:nowrap; text-overflow:ellipsis; text-align:left; vertical-align:text-top;border-right: none;}
.board_type_01 td.dday {padding: 2px 2px 2px 4px; border: 1px solid #dcdbd5; background-color: #eff7ff; font-size: 12px; overflow: hidden; white-space:nowrap; text-overflow:ellipsis; text-align:left; vertical-align:text-top;border-right: none;}
.board_type_01 td.dday a{text-decoration:none;font-size:12px;color:#2e76cc;}
.board_type_01 td.dday a:hover{text-decoration:none;color:#71b2ff;font-size:12px;}

/* 20160530 추가   */
.board_type_sc {width: 100%; table-layout:fixed;}
.board_type_sc th {padding: 5px; border: 1px solid #dcdbd5; border-top: 2px solid #90949a; border-bottom: 1px solid #90949a; background: #e8eef1; font-size: 12px; text-align: left; overflow: hidden; white-space:nowrap; text-overflow:ellipsis;}
.board_type_sc th img {opacity: 0.5;}
.board_type_sc th:first-child {color:#CC3333;}
.board_type_sc th:last-child {color:#3366CC;}
.board_type_sc th span {cursor: pointer;}
.board_type_sc td {padding: 2px; border: 1px solid #dcdbd5; background-color: #fff; font-size: 12px; height:100px; vertical-align:text-top; overflow: hidden; white-space:nowrap; text-overflow:ellipsis;}
.board_type_sc td.right {padding: 2px; border: 1px solid #dcdbd5; background-color: #fff; font-size: 12px; overflow: hidden; white-space:nowrap; text-overflow:ellipsis; text-align:right; vertical-align:text-top;}
.board_type_sc td a {font-size: 12px;}
.board_type_sc td.dday {padding: 2px; border: 1px solid #dcdbd5; background-color: #eff7ff; font-size: 12px; height:100px; vertical-align:text-top; overflow: hidden; white-space:nowrap; text-overflow:ellipsis;}
.board_type_sc td.dday a {font-size: 12px;color:#2e76cc;}
.board_type_sc .divDotText a {font-size: 12px;color:#2e76cc;}
.board_type_sc td:first-child {border-left: none;color:#CC3333;}
.board_type_sc td:last-child {border-right: none;color:#3366CC;}

.table_nodata {text-align: center; font-size: 20px;}
.table_nodata span{font-size: 20px;}

/* 20160530 수정 및 새부항목 추가 */
.board_width_borderNone {width: 100%; table-layout:fixed;}
.board_width_borderNone th {padding: 5px; text-align: right; vertical-align:top; border-top: 4px solid #ffffff; padding-left: 0; font-size: 13px;}
.board_width_borderNone th.top {padding: 5px; text-align: right; vertical-align:top; border-top: 4px solid #ffffff; padding-left: 0;font-size: 12px; font-weight:600;}
.board_width_borderNone td {padding: 5px; vertical-align: top;}
.board_width_borderNone td.bot {padding:0px 5px 0px 5px; vertical-align: top;}

.board_width_borderNone .board_type_height {width: 100%; table-layout:fixed;}
.board_width_borderNone .board_type_height th {padding: 5px; border: 1px solid #dcdbd5; border-top: 2px solid #90949a; border-bottom: 1px solid #90949a; background: #e8eef1; font-size: 12px; text-align: left; overflow: hidden; white-space:nowrap; text-overflow:ellipsis;}
.board_width_borderNone .board_type_height th img {opacity: 0.5;}
.board_width_borderNone .board_type_height th:first-child, .board_type_height th:nth-child(3) {border-left: none; background: #e8eef1; padding-right: 5px;}
.board_width_borderNone .board_type_height th:last-child {border-right: none;}
.board_width_borderNone .board_type_height th span {cursor: pointer;}

.solt_table_rapper {border: 1px solid red;}

.content_lst {clear: both;width: 100%;table-layout: fixed;border-bottom: 2px solid #c5c5c5;}
.content_lst.no_btn {border-top: 1px solid #ccc}
.content_lst tr.picked_lst td {background-color: #e9f2fc}
.content_lst th {height: 18px;background: top repeat-x;padding: 6px 5px 4px 6px;font-size: 12px;font-weight: bold;color: #555;border-left: 1px solid #ddd;text-align: left}
.content_lst td {height: 24px;border-top: 1px solid #eee;vertical-align: middle;padding: 2px 5px 1px 5px;overflow: hidden;white-space: nowrap;text-overflow: ellipsis}
.content_lst td a {color: #444;line-height: 24px}
.content_lst td a:hover {color: #0066cc}
.content_lst tbody tr:first-child td {border-color: #ddd}
.content_lst tbody tr:hover {background-color: #f4ffff}
.content_lst th.cen {text-align: center}
.content_lst th.input_chk {padding: 0}
.content_lst th .inchk {margin-left: 10px}
.content_lst th a {color: #555}
.content_lst th a.descend {background: url(../images/order_arr.gif) right 1px no-repeat;padding-right: 9px;color: #555}
.content_lst th a.ascendent {background: url(../images/order_arr.gif) right -14px no-repeat;padding-right: 9px;color: #555}
.content_lst th a:hover {text-decoration: underline}
.content_lst th img {margin-top: -1px;margin-left: -1px}
.content_lst th.modi_del {text-align: center}
.content_lst th.modi_del span {color: #bbb;margin: 0 3px}
.content_lst td.modi_del {text-align: center;font-size: 11px}
.content_lst td.modi_del a {color: #999}
.content_lst td.modi_del a:hover {text-decoration: none;color: #999}
.content_lst td.modi_del span {color: #ccc;margin: 0 3px}
.content_lst th:first-child, .content_lst td:first-child {border-left: 0}
.content_lst td.input_chk {padding: 0}
.content_lst td .inchk {margin-left: 10px}
.content_lst td a span.arr_go {display: none;width: 0;height: 0;padding: 0;margin-top: 6px;margin-left: 4px;border-bottom: 4px solid #f4ffff;border-top: 4px solid #f4ffff;border-left: 4px solid #bbb}
.content_lst td a.email:hover {color: #444}
.content_lst td a.email:hover span.arr_go {display: inline-block}

/* Only tablet (min-width:768px;max-width:1024px;) */
@media all and (min-width:768px) and (max-width:1024px) {
.boardList th, 
.boardList th a{font-size:11px;}
.boardList td, 
.boardList td a{font-size:11px;}
.boardEmptyR th, 
.boardEmptyR th a{font-size:11px;}
.boardEmptyR td, 
.boardEmptyR td  a{font-size:11px; height:auto; min-height:28px; padding:4px 0 4px 4px;}
}

/* ie 10,11 table */
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {

.boardEmpty {width:100%;}
.boardEmpty th {text-align:left;}
.boardEmpty td  {height:28px;padding:0 0 8px 4px;vertical-align: middle; line-height:1.2;}	
	
.boardEmptyR {width:100%;} 
.boardEmptyR th {text-align:right; padding-right:16px;}
.boardEmptyR td  { height:auto; min-height:29px;padding:8px 0 0 8px;vertical-align: middle; line-height:1.2;}
	
.boardList{width:100%; table-layout:fixed;} 
.boardList th {height:36px;background:url(../../../../images/egovframework/com/uss/cmm/bg_th_ny.png) repeat-x ;border-right:#dcdbd5 1px solid ;padding:0 0 0 10px;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;}
.boardList th a,
.boardList th a:hover{text-decoration:none;}
.boardList th:last-child{border-right:none;}
.boardList .tr_one {background:#ffffff;}
.boardList .tr_two {background:#f3f3f3;}
.boardList td {height:27px !important;border-right:#dcdbd5 1px solid; border-bottom:#dcdbd5 1px solid;padding:0 5px;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;}
.boardList td:last-child{border-right:none;}


}
/* 20160530 추가 */
.calender{width:100%; table-layout:fixed;border-bottom:#dcdbd5 1px solid;} 
.calender th {height:32px;background:url(../../../../images/egovframework/com/uss/cmm/bg_th_my.png) repeat-x  ; font-size:12px; overflow:hidden;white-space:nowrap;text-overflow:ellipsis; text-align:center;}
.calender th a{text-decoration:none;}
.calender th a:hover{text-decoration:none;color:#999999;}
.calender th.ttl{background:#f4f4f4;padding:2px;text-align:center;color:#999999;height:18px;border-bottom:#dcdbd5 1px solid;}
.calender td {height:18px;font-size:11px;padding:3px;text-align:center;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;}
.calender td a{text-decoration:none;font-size:11px;}
.calender td a:hover{text-decoration:none;color:#999999;font-size:11px;}
.calender td.today{background:#fce4ee;text-align:center;}
.calender td.today a{text-decoration:none;font-size:11px;}
.calender td.today a:hover{text-decoration:none;color:#9e1f24;font-size:11px;}
.calender td.dday{background:#eff7ff;text-align:center;border:#69a3e7 1px solid;margin:1px;}
.calender td.dday a{text-decoration:none;font-size:11px;color:#2e76cc;}
.calender td.dday a:hover{text-decoration:none;color:#71b2ff;font-size:11px;}

/* 20170613 추가 */
.cal_lst .tit { display: inline-block; float: left; margin-right: 4px; }
.cal_lst .cal_add { display: inline-block; width: 17px; height: 17px; font-size: 0; background: url(../../../../images/egovframework/com/uss/cmm/btn_cal_add.png) 0 0 no-repeat; cursor: pointer; }
.cal_lst .cal_add:hover { background: url(../../../../images/egovframework/com/uss/cmm/btn_cal_add.png) 0 -17px no-repeat; }
.cal_lst .cal_add:active { background: url(../../../../images/egovframework/com/uss/cmm/btn_cal_add.png) 0 -17px no-repeat; opacity: .7; }
.cal_lst ul li { position: relative; display: inline-block; width: 160px; margin-left: 12px; height: 18px; line-height: 18px; padding-right: 20px; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; }
.cal_lst ul .showCalendarEvent { cursor:pointer; padding: 1px; position: relative; float: left; top: 1px; display: inline-block; width: 14px; height: 14px; margin-right: 2px; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; }
.cal_lst ul .hiddenCalendarEvent { cursor:pointer; border: 1px solid #dcdbd5; position: relative; float: left; top: 1px; display: inline-block; width: 14px; height: 14px; margin-right: 2px; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; }
.cal_lst ul .name { float: left; max-width: 130px; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; }
.cal_lst ul .btn_setting { position: absolute; top: 2px; display: none; width: 13px; height: 13px; font-size: 0; margin-left: 6px; background: url(../../../../images/egovframework/com/uss/cmm/ico_set.png) 0 0 no-repeat; opacity: .4; cursor: pointer; }
.cal_lst ul .btn_setting:hover { opacity: .6; }
.cal_lst ul .btn_setting:active { opacity: .4; }
.cal_lst ul li:hover .btn_setting { display: inline-block; }

/* SNS */
.sns * {box-sizing: border-box;}
.sns .Gnb {position:absolute; top:0; width:100%; z-index: 99999;}
.sns .Container {position:relative; top:0; left:0; display: block; width:100%; height:100%; padding-top:48px; z-index:0; overflow: hidden; box-sizing: border-box;}
.sns .Container .Side {height:100%; padding-top:48px;}
/* left */
.channel_table {}
.channelList_my{width:100%; table-layout:fixed; margin-top:8px;} 
.channelList_my th {height:32px;background:url(../../../../images/egovframework/com/uss/cmm/bg_th_my.png) repeat-x  ; font-size:12px; padding:0 0 0 8px;overflow:hidden;white-space:nowrap;text-overflow:ellipsis; text-align:left !important;}
.channelList_my td {height:18px;border-bottom:#dcdbd5 1px solid;padding:5px 0 2px 10px;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;}
.channelList_my td.ttl{border-left: none; background:#f8f8f8;}
.channelList_my td.man{background:url(../../../../images/egovframework/com/uss/cmm/main_left_man.png) no-repeat ; text-align: left !important; padding:4px 0 3px 32px;}
.boardList_my td:last-child {border-right: none; text-align: right; padding-right:10px;}
.project_selector {position:relative; width:100%; height:30px; padding: 0 12px; box-sizing: border-box; margin-top:10px; }
.project_selector .selector {position:relative; float:left; width: 148px; height:30px; line-height:20px; padding: 6px; border: 1px solid #cdcdcd; background: url(../../../../images/egovframework/com/uss/cmm/ico_select.png) right 50% no-repeat; cursor: pointer}
.project_selector .selector > a:hover {color:#000}
.project_selector .selector .select_layer {position:absolute; display:none; top:28px; left:0; width: 146px; max-height:100px; border: 1px solid #cdcdcd; background:#fff; z-index: 9;}
.project_selector .selector .select_layer.on {display:block;}
.project_selector .selector .select_layer li {position:relative; display:block; width:100%; }
.project_selector .selector .select_layer li a {position:relative; display:block; width:100%; line-height: 24px; height:24px; padding: 0 6px; box-sizing: border-box;}
.project_selector .selector .select_layer li:hover a {background:#eee; cursor: pointer}
.selector_set {position: relative; display: block; float:left; width:28px; height:28px; margin-left:4px; font-size: 0 !important; background:url(../../../../images/egovframework/com/uss/cmm/ico_set.png) 50% 50% no-repeat;}
.channel {position: relative; text-align: left; }
.channel a {position: relative; float:left; height: 100%; cursor: pointer;}
.channel a.channel_num {position: relative; float:left; max-width: 146px; white-space: nowrap; text-overflow: ellipsis; overflow: hidden}
.channel a.btn_modify {position: relative; display: block; width:16px; height:16px; margin-left:4px; font-size: 0; background:url(../../../../images/egovframework/com/uss/cmm/ico_modi.png) 50% 0 no-repeat; overflow: hidden;}
.channel a.btn_modify:hover { background:url(../../../../images/egovframework/com/uss/cmm/ico_modi_hover.png) 50% 0 no-repeat;}

/* center */
.sns .Container .Content {position:relative; top:0; left:0; height:100%; width:100%; min-width: inherit; }
.sns .Container .content_box {position:relative; top:0; left:0; height:100%; width:100%;  padding: 54px 284px 0 220px; margin:0; overflow:hidden; min-height: inherit; min-width: inherit;}
.sns .Container .content_box > .title_box {position:absolute; top:0; left:0; height:54px; width:100%; padding: 0 0 0 220px; margin-bottom:0; box-sizing: border-box}
.sns .Container .content_box > .message_area {position: relative; display: block; width:100%; height:100%; padding-bottom: 50px;}
/* reading area */
.message_area .reading_area {position: relative; display: block; width:90%; height:100%; min-width: 500px; overflow: auto}
.message {position:relative; margin: 16px 0;}
.message:first-child {margin-top: 0;}
.message_area .user { position:absolute; width: 50px; max-width: inherit; height: 50px; padding: 4px 0; margin-right: 0; float:none;}
.message_area .user li img {width:40px; height:40px; border-radius: 50%;}
.mssg_info {position:relative; display:block; width:100%; height:25px;}
.usr_name{ display:block; float:left;  max-width:400px; font-size: 16px; font-weight: bold; white-space:nowrap;  overflow: hidden; text-overflow: ellipsis;}
/* .date {display:block; float:left; font-size: 12px; color:#b2b2b2; margin: 4px 6px 2px;} */
.mssg_area {padding-left: 50px;}
.mssg_text {}
.mssg_text p {}
.attached {padding-left:16px; background: url(../../../../images/egovframework/com/uss/cmm/icon_file_th.png) left top no-repeat;}

/* writting area */
.writting_area {position:absolute; bottom:12px; display:block; min-height: 30px; width:90%; }
.textarea {
    padding: 6px 80px 6px 6px; margin: 1px!important;
    background: #f9fbfb;
    border: 1px solid #d9d9d9!important;
    border-top: 1px solid #c0c0c0!important;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-border-radius: 1px;
    border-radius: 1px; }
.textarea textarea {height: 21px; width:100%; line-height: 1.5; padding:0; border:0; outline: 0; background: none;}
.textarea textarea:focus {height:auto;}
.btn_attach {position:absolute; right:80px; top:8px; width:20px; height:20px; background: url(../../../../images/egovframework/com/uss/cmm/icon_file.png) 50% 50% no-repeat; font-size: 0; z-index: 9; opacity: .6;}
input[type="file"].find_attach {position:absolute; right:80px; top:8px; width:20px; height:20px; opacity: 0; z-index: 999999; }
.btn_send {
    position:absolute; right:0; top:0; min-width: 54px; height: 27px; line-height: 27px; padding: 0 8px; margin: 5px 12px 5px 5px; font-size: 13px; color: #fff; font-weight: bold; text-align: center; vertical-align: middle; white-space: nowrap; cursor: pointer;
    border: 1px solid #3079ed; -webkit-border-radius: 2px; border-radius: 2px; outline: 0;
    -webkit-box-shadow: none; box-shadow: none;    
    background-color: #4d90fe;
    background-image: -webkit-linear-gradient(top,#4d90fe,#4787ed);
    background-image: linear-gradient(top,#4d90fe,#4787ed);    
}
/* right */
/* detail area */
.sns .Container .content_box > .detail_area {position: absolute; top:0; right:16px; display: block; height:100%; width: 400px; padding:6px 0 41px; box-sizing: border-box; z-index: 99;}
.detail_area .tab {position:relative; height:28px; z-index: 999; border-bottom: 1px solid #ddd; }
.detail_area .tab li {position: relative; display: block; float:left; width:auto; height:28px; border: 1px solid #ddd; background: #eee;}
.detail_area .tab li.on {background: #fff; border-bottom-color:#fff; }
.detail_area .tab li a {position:relative; display:block; width:auto; height:100%; padding:6px 10px; cursor:pointer}
.sns_search { position:absolute; top:34px; left:1px; width:398px; height:40px; padding: 10px 82px 0 10px; background: #fff; z-index:999;}
.sns_search input[type='text'] { position:relative; width:67%; height:24px;}
.sns_search .search_btn { position:absolute; top:10px; right:12px;}
.view_area { top:-1px; height:100%; padding: 40px 13px 13px; border: 1px solid #ddd; border-top:0 none; z-index: 99; overflow: auto;}
.view_area .user { position:absolute; margin-right: 0; float:none;}
.view_area .mssg_area {padding-left:40px; }
.view_area .mssg_area .mssg_info { height: auto; }
.view_area .mssg_area .usr_name {display: block; float:none; height:24px; padding-top: 3px; margin:0; white-space:nowrap;  overflow: hidden; text-overflow: ellipsis;}
/* .view_area .mssg_area .date {display: block; float:none; margin:0; } */

/** Contact **/
.contact_list {width: 100%; table-layout:fixed; padding: 5px; border-top: 2px solid #90949a; border-bottom: 2px solid #90949a; }
.contact_list tr td {padding-left: 20px; background: url(../../../../images/egovframework/com/uss/cmm/adrss_book.png) left 50% no-repeat;}
.contact_list tr.favorite td {padding-left: 20px; background: url(../../../../images/egovframework/com/uss/cmm/favorite_book.png) left 50% no-repeat;}
.contact_list tr.all td {padding-left: 20px; background: url(../../../../images/egovframework/com/uss/cmm/all_book.png) left 50% no-repeat;}
.contact_list tr.divided td {border-bottom: 1px dashed #ccc;}
.contact_list td {padding: 5px; vertical-align: top;}
.contact_list td a {cursor: pointer; }
.contact_list td a.set {display: block; float:right; width:16px; height:16px; font-size: 0 !important; background:url(../../../../images/egovframework/com/uss/cmm/ico_set.png) 50% 50% no-repeat; opacity:.3;}
.contact_list td a.set:hover {opacity:1;}
ul.contact_list { display: block; border: 0; padding:0; }
ul.contact_list li { position:relative; display: block; border: 0; padding:0; height:28px; line-height: 28px; }
ul.contact_list li a { position:relative; width:100%; height:100%; line-height: 28px; cursor: pointer}
.contact_list li.new {padding-left: 20px; background: url(../../../../images/egovframework/com/uss/cmm/book_add.png) left 50% no-repeat;}
.contact_list li.import {padding-left: 20px; background: url(../../../../images/egovframework/com/uss/cmm/import.png) left 50% no-repeat;}
.contact_list li.export {padding-left: 20px; background: url(../../../../images/egovframework/com/uss/cmm/export.png) left 50% no-repeat;}
.contact_list li.duplicate {padding-left: 20px; background: url(../../../../images/egovframework/com/uss/cmm/duplicate.png) left 50% no-repeat;}
/* center */
.fav_icon {position:relative; text-align: center;}
.fav_icon span {position:relative; display:block; width:20px; height:16px; background: url(../../../../images/egovframework/com/uss/cmm/icon_bookmark_gr.png) 50% 50% no-repeat; font-size: 0;}

/** layer popup **/
.layerpop_area {position: absolute; top:0; left:0; display:none; width:100%; height:100%; background:rgba(0,0,0,0.3); z-index: 999999; }
.layerpop_area.open {display:block; }
.layerpop {position: relative; top:50%; width:500px; height:410px; margin: -200px auto 0; padding:16px; border-radius: 4px; box-shadow: 2px 2px 2px 2px rgba(0,0,0,0.3); background:#fff;}
.layerpop h3 {margin-bottom:10px; font-size: 18px;}
.layerpop .btn_area {position:relative; text-align: right; padding-bottom: 10px;}
.layerpop .btn_area a {position:relative; display: inline-block; width:auto; height:28px; }
.layerpop .btn_area .btn {
    position:relative; top:0; min-width: 54px; height: 27px; line-height: 27px; padding: 0 8px; margin: 1px; font-size: 13px; color: #fff; font-weight: normal; text-align: center; vertical-align: middle; white-space: nowrap; cursor: pointer; -webkit-border-radius: 2px; border-radius: 2px; outline: 0;
    -webkit-box-shadow: none; box-shadow: none;      
}
.layerpop .btn_area .btn.sumit {
    border: 1px solid #3079ed; 
    background-color: #4d90fe;
    background-image: -webkit-linear-gradient(top,#4d90fe,#4787ed);
    background-image: linear-gradient(top,#4d90fe,#4787ed);    
}
.layerpop .btn_area .btn.del {
    border: 1px solid #353535; 
    background-color: #363636;
    background-image: -webkit-linear-gradient(top,#434241,#363636);
    background-image: linear-gradient(top,#434241,#363636);    
}
.layerpop .btn_area .btn.important {
    border: 1px solid #e06844; 
    background-color: #e06844;
    background-image: -webkit-linear-gradient(top,#ed7754,#e06844);
    background-image: linear-gradient(top,##ed7754,#e06844);    
}
.layerpop .btn_area .btn.basic {
    border: 1px solid #90949a; color:#555;
    background-color: #fff;
    background-image: -webkit-linear-gradient(top,#fff,#fefffd);
    background-image: linear-gradient(top,#fff,#fefffd);    
}
.layerpop h4 {color:#555; font-size: 13px; height: 25px; line-height: 25px;}
.input_group_area { border-top: 2px solid #90949a; border-bottom: 2px solid #90949a; padding: 10px 16px;}
.input_group_area .list { padding: 4px 0;}
.input_group_area .list h4 { display: inline-block; min-width:88px; }
.input_group_area .list input[type="text"] { height: 25px;}
.multi_box {position:relative; display: block; width:428px; height:210px; margin:16px auto; box-sizing: border-box;}
.multi_box h4 {padding-left: 17px; background: url(../../../../images/egovframework/com/uss/cmm/gr_bullet.png) left 50% no-repeat;}
.multi_box > div > ul {position:relative; width:180px; height:185px; padding:8px; border:1px solid #ddd; box-sizing: border-box; overflow:auto;}
.left_box {position:relative; display: block; float:left}
.arr_box {position:absolute; top:80px; left:50%; margin-left:-20px; display: block; width:38px;}
.arr_box li {position:relative; display:block; margin: 2px 0;}
.arr_box li a {position:relative; display:block; width:100%;  height:25px; border:1px solid #bbb; border-radius: 2px; opacity: .6;}
.arr_box li:hover a {opacity: 1; background-color: #fefefe; cursor: pointer}
.arr_box li span {font-size: 0;}
.arr_left a {position:relative; display: block; background: url(../../../../images/egovframework/com/uss/cmm/to_left.png) 10px 50% no-repeat;}
.arr_right a {position:relative; display: block; background: url(../../../../images/egovframework/com/uss/cmm/to_right.png) 13px 50% no-repeat;}
.right_box {position:relative; display: block; float:right;}
